@charset "ISO-8859-1";
.background
{
	background-image: url("red.png");
	background-repeat: no-repeat, repeat;
	height: 1080px;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}
.center
{
	text-align: center;
	margin-bottom: 50px;
}
.span1
{
	margin-top: 50px;
	margin-left: 150px;
	text-indent: 50px;
    text-align: justify;
    letter-spacing: 1px;
}